#introducei {
    /* margin-top: 3rem; */
    margin-top: 4.5rem;

    display: flex;
    justify-content: center;

}

.introducei {
    width: 70%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.introducei img {
    width: 500px;
}

.introducei>* {
    padding: 0 15px;

}

.introducei .contenti {
    color: var(--primary-colorI);
    font-size: 16px;

}

.introducei .contenti .headeri {
    font-size: 20px;
    margin: 0 0 8px;
    font-weight: bold;
}


.button_about_us{
    text-align: center;
    font-weight: 500;
    color: #fff;
    padding: 5px 30px 7px;
    border-radius: 30px;
    background: #002f66;
    display: inline-block;
    font-size: 16px;
    margin-top: 1.5rem;
}



/*Tablet*/

@media screen and (min-width: 46.25em) and (max-width: 63.9375em) {}

/*Mobile*/

@media screen and (max-width: 46.1875em) {
    .introducei {
        flex-direction: column;
        width: 100%;
    }

    .introducei img {
        width: 100%;
    }

}